<!-- GROUP NAME -->
<div class="text-center">
	<h1>The Swetarts</h1>
</div>


<!-- GROUP MEMBERS -->
<div ng-repeat="member in members" class="about-detail-panel center">
	<div class="panel panel-primary center">
		<div class="panel-heading text-center"> 
			<h2>{{member.name}}</h2>
		</div>
		<div class="panel-body text-center">
			<div class="col-xs-12">
				<a href="#" class="thumbnail">
					<img ng-src="{{member.image}}"/>
				</a>
			
				<tabset justified="true">
			    	<tab>
			    		<tab-heading><h5>Bio</h5></tab-heading>
						{{member.description}}
					</tab>
					<tab>
			    		<tab-heading><h5>Responsibilities</h5></tab-heading>
			    		{{member.responsibilites}}
					</tab>
					<tab>
			    		<tab-heading><h5>Stats</h5></tab-heading>
			    		<h4>Number of Commits</h4>
							{{member.num_commits}}
						<h4>Number of Issues</h4>
							{{member.num_issues}}
						<h4>Number of Unit Tests</h4>
							{{member.num_uTests}}
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</div>


<!-- GROUP MEMBERS -->
<!-- <div ng-repeat="member in members" class="about-detail-panel center">
	<div class="panel panel-primary center">
		<div class="panel-heading text-center"> 
			<h2>{{member.name}}</h2>
		</div>
		<div class="panel-body text-center">
			<div class="col-xs-12">
				<a href="#" class="thumbnail">
					<img ng-src="{{member.image}}"/>
				</a>
			
				<tabset justified="true">
			    	<tab>
			    		<tab-heading><h5>Bio</h5></tab-heading>
						{{member.description}}
					</tab>
					<tab>
			    		<tab-heading><h5>Responsibilities</h5></tab-heading>
			    		{{member.responsibilites}}
					</tab>
					<tab>
			    		<tab-heading><h5>Stats</h5></tab-heading>
			    		<h4>Number of Commits</h4>
							{{member.num_commits}}
						<h4>Number of Issues</h4>
							{{member.num_issues}}
						<h4>Number of Unit Tests</h4>
							{{member.num_uTests}}
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</div>
 -->



<div class="about-detail-panel center">
<div class="panel panel-primary center">
	<div class="panel-heading text-center">
		<h2>Total Stats</h2>
	</div>
	<div class="panel-body text-center">
		<div class="col-xs-12">
			<h4>Total Number of Commits</h4>
				360
			<h4>Total Number of Issues</h4>
				87
			<h4>Total Number of Unit Tests</h4>
				18
		</div>
	</div>
</div>
</div>



<!-- Apiary API Link-->
<div class="about-detail-panel center">
	<div class="panel panel-primary">
		<div class="panel-heading text-center">
		<h3>Apiary API</h3>
		</div>
		<div class="panel-body text-center">
		<h4>Link</h4>
		<!-- Link for the api -->
		<a href="https://github.com/stv8/cs373-idb/blob/master/apiary.apib">https://github.com/stv8/cs373-idb/blob/master/apiary.apib</a>
		</div>
	</div>
</div>

<!-- Github Link-->
<div class="about-detail-panel center">
	<div class="panel panel-primary">
		<div class="panel-heading text-center">
		<h3>Github Repo</h3>
		</div>
		<div class="panel-body text-center">
		<h4>Link</h4>
		<!-- Link for the api -->
		<a href="https://github.com/stv8/cs373-idb">https://github.com/stv8/cs373-idb</a>
		</div>
	</div>
</div>

