<div class="row">
    <div class="col-md-5">
        <div id="banner-container" class="">
            <img id="banner-image" class="" src="http://media1.s-nbcnews.com/j/MSNBC/Components/Interactives/_templates/Cast_of_characters/images/Mystery_person.grid-6x2.jpg">
        </div>
    </div>
    <div class="col-md-7 col-sm-12">
        <div class="flex-container">
            <div id='order-by-btn' class="btn-group flex-items-default" dropdown is-open="status.isopen">
                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    Sort By: {{orderOpt}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-click="order('name', false)"><a href>Name Ascending</a></li>
                    <li ng-click="order('name', true)"><a href>Name Descending</a></li>
                    <li ng-click="order('id', false)"><a href>None</a></li>
                </ul>
            </div>
        </div>
        <div class="flex-container">
            <div ng-repeat="character in characters" >
                <!-- custom directive inside of directives folder -->
                <thumbnail type='character' model='character'></thumbnail>
            </div>
        </div>
    </div>
</div>