<div id="character-detail-panel" class="panel panel-primary center">
    <div class="panel-heading">
        <h2 class="text-center">{{character.name}}</h2>
    </div>
    <div class="panel-body">
        <tabset justified="true">
            <tab heading="Description">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class="center-block btn btn-primary" ng-click="imageIsCollapsed = !imageIsCollapsed">
                            Toggle Photo
                        </button>
                    </div>
                    <div class="panel-body" collapse="imageIsCollapsed">
                        <img class='block-center image-container' ng-src="{{ character.image.medium_url }}" alt=""/>
                    </div>
                </div>
                <div ng-bind-html="character.description | to_trusted"></div>
            </tab>
    
            <tab heading="Powers">
                <div class="list-group">
                    <a ng-repeat="power in character.powers" class="list-group-item text-center">
                        {{power.name}}
                    </a>
                </div>
            </tab>
            <tab heading="Issues">
                <a ng-repeat="issue in character.issue_credits" 
                   ng-hide="{{issue.name == ''}}"
                   ui-sref="issue-detail({ id:{{issue.id}} })"
                   class="list-group-item text-center">
                    {{issue.name}}
                </a>
            </tab>
            <tab heading="Relationships">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class="center-block btn btn-primary" ng-click="friendsIsCollapsed = !friendsIsCollapsed">
                            Toggle Friends 
                        </button>
                    </div>
                    <div class="panel-body" collapse="friendsIsCollapsed">
                        <div class="list-group">
                            <a ng-repeat="friend in character.character_friends" 
                               ui-sref="character-detail({ id:{{friend.id}} })" 
                               class="list-group-item text-center">
                                {{friend.name}}
                            </a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class="center-block btn btn-primary" ng-click="enemiesIsCollapsed = !enemiesIsCollapsed">
                            Toggle Enemeies
                        </button>
                    </div>
                    <div class="panel-body" collapse="enemiesIsCollapsed">
                        <div class="list-group">
                            <a ng-repeat="enemy in character.character_enemies" 
                               ui-sref="character-detail({ id:{{enemy.id}} })" 
                               class="list-group-item text-center">
                                {{enemy.name}} 
                            </a>
                        </div>
                    </div>
                </div>
            </tab>
        </div>
    </tabset>
</div>

