<video autoplay loop poster="../assets/images/avengers-issues.jpg" id="bgvid">
  <source src="{{video}}" type="video/mp4"/>
</video>

<div class="centered-text">
  <h1>Welcome to the Swetart's Comic Database</h1>
  <h1 class="hidden">Select A link up top to explore</h1>
</div>

<div class="center-content">
    <h3>Select links up top for more or search here</h3>
    <div id="search">
        <form>
            <input type="search" value="" placeholder="Search for comics, characters, or people">
        </form>
    </div>
</div>
