<div class="page-header">
    <div class="panel panel-primary text-center">
        <style>
            h1  {color:white}
        </style>
        <div class="panel-heading"> 
            <h1>Welcome to Swetart's <small>Comic Database</small></h1>
        </div>
    </div>
</div>

<div class="flex-container marketing text-center">

    <div class="thumbnail flex-items-default home-thumbnail">
        <img class="img-circle" src="http://static.comicvine.com/uploads/scale_small/2/28079/1923024-garth_ranzz__06__002__01_.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Characters</h2>
        <p> Character info</p>
        <p>
            <a class="btn btn-default" ui-sref="characters" role="button">Character Page</a>
        </p>
    </div>


    <div class="thumbnail flex-items-default home-thumbnail">
        <img class="img-circle" src="http://static.comicvine.com/uploads/scale_small/0/7019/167303-44514-stan-lee.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>People</h2>
        <p> People info</p>
        <p>
            <a class="btn btn-default" ui-sref="people" role="button">People Page</a>
        </p>
    </div>


    <div class="thumbnail flex-items-default home-thumbnail">
        <img class="img-circle" src="http://static.comicvine.com/uploads/scale_small/0/4/53-773-54-1-superman.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Issues</h2>
        <p> Issues info</p>
        <p>
            <a class="btn btn-default" ui-sref="issues" role="button">Issues Page</a>
        </p>
    </div>
</div>
