<video autoplay loop poster="../assets/images/avengers-issues.jpg" id="bgvid">
  <source src="../assets/videos/bgvideo.mp4" type="video/mp4"/>
</video>

<div class="centered-text">
  <h1>Welcome to the Swetart's Comic Database</h1>
</div>



<div>
<p> 
<br>
<br>
</p>
</div>

<!-- <div class="flex-container text-center" id="home">

    <div id="characters home-item" class="thumbnail flex-items-default home-thumbnail home-img">
        <img class="img-circle" src="../../assets/images/justice-league-of-america.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Characters</h2>
        <p>Character page contains bios on characters from various comic series.</p>
        <p>
            <a class="btn btn-default" ui-sref="characters" role="button">Character Page</a>
        </p>
    </div> 

    <div id="people home-item" class="thumbnail flex-items-default home-thumbnail home-img">
        <img class="img-circle" src="../../assets/images/stan-lee.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>People</h2>
        <p>People page contains information on comic writers and artists.</p>
        <p>
            <a class="btn btn-default" ui-sref="people" role="button">People Page</a>
        </p>
    </div>

    <div id="issues home-item" class="thumbnail flex-items-default home-thumbnail home-img">
        <img class="img-circle" src="../../assets/images/avengers-issues.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Issues</h2>
        <p>Issues page contains a list of comic series.</p>
        <p>
            <a class="btn btn-default" ui-sref="issues" role="button">Issues Page</a>
        </p>
    </div>
</div> -->
