<div class="flex-container">
    <div id='order-by-btn' class="btn-group flex-items-default" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            Sort By: {{orderOpt}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-click="order('name', false)"><a href>Name Ascending</a></li>
            <li ng-click="order('name', true)"><a href>Name Descending</a></li>
            <li ng-click="order('id', false)"><a href>None</a></li>
        </ul>
    </div>
</div>