<div class="row">
    <div class="col-md-5">
        <div id="banner-container" class="">
            <img id="banner-image" class="" src="http://media1.s-nbcnews.com/j/MSNBC/Components/Interactives/_templates/Cast_of_characters/images/Mystery_person.grid-6x2.jpg">
        </div>
    </div>
    <div class="col-md-7 col-sm-12">
        <order-by-search-util model='people' search-field="name"></order-by-search-util>
        <div class="flex-container">
            <div ng-repeat="person in people">
                <!-- custom directive inside of directives folder -->
                <thumbnail type='person' model='person'></thumbnail>
            </div>
        </div>
    </div>
</div>