<div id="person-detail-panel" class="panel panel-primary center">
    <div class="panel-heading">
        <h2 class="text-center">{{person.name}}</h2>
    </div>
    <div class="panel-body">
        <tabset justified="true">
            <tab heading="Description">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class="center-block btn btn-primary" ng-click="imageIsCollapsed = !imageIsCollapsed">
                            Toggle Photo
                        </button>
                    </div>
                    <div class="panel-body" collapse="imageIsCollapsed">
                        <img class='block-center' ng-src="{{ person.image.medium_url }}" alt=""/>
                    </div>
                </div>
                <div ng-bind-html="person.description | to_trusted"></div>
            </tab>
            
            <tab heading="Characters">
                <a ng-repeat="character in person.created_characters" 
                   ng-hide="{{character.name == ''}}"
                   ui-sref="character-detail({ id:{{character.id}} })"
                   class="list-group-item text-center">
                    {{character.name}}
                </a>
            </tab>

            <tab heading="Issues">
                <a ng-repeat="issue in person.issues" 
                   ng-hide="{{issue.name == ''}}"
                   ui-sref="issue-detail({ id:{{issue.id}} })"
                   class="list-group-item text-center">
                    {{issue.name}}
                </a>
            </tab>
        </div>
    </tabset>
</div>

