<h1> mad stores yo</h1>
<ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
    <ui-gmap-marker ng-repeat="place in places" 
                    idKey="place.details.place_id" 
                    coords="place.details.location"
                    icon='{url:"assets/images/Marker.png"}'
                    >
        <ui-gmap-window>
            <div>
                <div>Name: {{place.details.name}} </div>
                <div>Website: {{place.details.website}}</div>
                <div>Address: {{place.details.address}}</div>
                <div>Phone Number: {{place.details.phone_number}}</div>
                <div>Rating: {{place.details.rating}}</div>
            </div>
        </ui-gmap-window>
    </ui-gmap-marker>
</ui-gmap-google-map>

