/* app css stylesheet */

html {
    background: url('http://25.media.tumblr.com/f6131152b786236ee6948e16494c9a93/tumblr_mnf4qutKjn1rm7i00o1_1280.jpg') no-repeat center center fixed;
    background-size: cover;
}

body {
    background: none;
}

/*
 * helpful link about flexbox
 * http://flexboxin5.com/
*/
.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}


.flex-items-default {
    width: 200px;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;
}

h3.character-name {
    text-align: center;
}

.block-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media all and (max-width: 300px) {
    #characters-banner { display: none; }
}

