/* app css stylesheet */

html {
  background: url('../images/comic_book_collage_background.png') no-repeat center center fixed;
  background-size: cover;
}

body {
  background: none;

  /* fix for sticky nav bar overlay */
  padding-top: 70px;
  overflow-x: hidden;
}

#filterbtn {
  border-radius: 0px !important;
}

#main-container {
  padding-top: 37px;
}

/************************************
*                                   
*       Google maps             
*                                   
*************************************/

#iw-container  .iw-title {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #48b5e9;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}

#iw-container {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: white;
  color: black;
  margin: 2px;
}

.gm-style-iw {
   width: 350px !important;
   top: 0 !important;
   left: 0 !important;
   border-radius: 2px 2px 0 0;
}


.infobox-wrapper {
    display:none;
}
#infobox {
    border:2px solid black;
    margin-top: 8px;
    background:#333;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    box-shadow: 0 0 8px #000;
}

/************************************
*                                   
*       Utility               
*                                   
*************************************/
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image-container {
  width: 80%;
}

/* make banner disappear when screen below 990px*/
@media all and (max-width: 990px) {
  #banner-container { display: none; }
}

#loading-bar-spinner {
  display: block;
  position: absolute;
  right: auto;
  /*left: auto;*/
  top: auto;
  bottom: -20px;
  z-index: 1049;
}

#loading-bar {
    position: relative;
    pointer-events: none;
    -webkit-pointer-events: none;
    -webkit-transition: 350ms linear all;
            transition: 350ms linear all;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
          transition: width 350ms;
  /*background-color: reds;*/
  position: absolute;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

h1, h2, h3, h5, h6 {
  font-family: 'Bangers',serif;
  letter-spacing: 1px;
  text-shadow: -1px 0 black, 0 4px black, 2px 0 black, 0 -1px black;
  color: white;
}

h3.thumbnail-name {
  margin: 0px;
}


.navbar-brand {
  font-family: 'Bangers',serif;
  text-shadow: -1px 0 black, 0 4px black, 2px 0 black, 0 -1px black;
  color: #ffffff !important;
  font-size: 40px;
  padding-right: 20px;
  padding-top: -5px;
}

#navbar>div>div>ul>li {
  font-family: 'Bangers',serif;
  text-shadow: -1px 0 black, 0 4px black, 2px 0 black, 0 -1px black;
  font-size: 20px;
}

#icon {
  width: 31px;
  /*padding-right: 1px;*/
  padding-left: 3px;
  -webkit-transition: all 0.7s ease-in-out;
          transition: all 0.7s ease-in-out;
}

#icon:hover {
  -webkit-transform: rotate(720deg);
      -ms-transform: rotate(720deg);
          transform: rotate(720deg);
}

.bottom-buffer {
  margin-bottom: 10px;
}

.angular-google-map-container { height: 400px; }

/************************************
*                                   
*       Home page             
*                                   
*************************************/

.centered-text {
  text-align: center;
  width: 650px;
  height:100px;
  position: absolute;
  left:50%;
  top:50%;
  margin: 150px 0 0 -325px;
  -webkit-animation: moveUp 1.5s ease-in-out;
          animation: moveUp 1.5s ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes moveUp {
  0%   {-webkit-transform: translateY(-5px);transform: translateY(-5px);  }
  100% {-webkit-transform: translateY(-200px);transform: translateY(-200px);}
}

@keyframes moveUp {
  0%   {-webkit-transform: translateY(-5px);transform: translateY(-5px);  }
  100% {-webkit-transform: translateY(-200px);transform: translateY(-200px);}
}

.centered-text>h1 {
  font-size: 5.3vw;
  letter-spacing: 2.5px;
}

.center-content {
  text-align: center;
  width: 800px;
  height:100px;
  position: absolute;
  left:50%;
  top:90%;
  margin: 300px 0 0 -400px;
  opacity: 0;
  -webkit-animation: fadeIn 2s ease-in-out;
          animation: fadeIn 2s ease-in-out;
  iteration-count: 1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  from  {opacity: 0;}
  to    {opacity: 1;}
}

@keyframes fadeIn {
  from  {opacity: 0;}
  to    {opacity: 1;}
}

.center-content>h3 {
  font-size: 2.5vw;
}

video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(../images/comic_book_collage_background.png) no-repeat center center fixed;
  background-size: cover;
}

@media screen and (max-divice-width: 800px) {
  #bgvid {display: none;}
}

#search {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#search input[type="search"] {
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 3.0vw;
    font-family: 'Bangers', serif;
    text-shadow: -1px 0 black, 0 4px black, 2px 0 black, 0 -1px black;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    outline: none;
}

/************************************
*                                   
*       Characters page             
*                                   
*************************************/

/*
 * helpful link about flexbox
 * http://flexboxin5.com/
*/
.flex-container {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: justify;
            justify-content: space-around;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            -webkit-box-align: start;
            align-items: flex-start;
}

.flex-items-default {
    width: 200px;
    height: 275px;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            -webkit-box-flex: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
}


.home-thumbnail {
  background: #29d;
  -webkit-flex-basis: 242px;
  -ms-flex-preferred-size: 242px;
  flex-basis: 242px;
  height: auto;
}

.character-name {
  text-align: center;
}


#banner-container {
  min-height: 270px;
  position: fixed;
  top: 65px;
  left: 3%;
}

#banner-container img {
  vertical-align: middle;
  border-radius: 5px;
  width: 90%;
}

/* override bootflat 100% width */
.thumbnail a > img, .thumbnail > img {
  width: auto;
  height:240px;
}

.thumbnail {
  padding: 0;
}

.hover-rise:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
        transform: scale(1.04);
}

#order-by-btn {
  margin-bottom: 10px;
  width: auto;
  height: auto;
}

#filter-search-bar {
  height: auto;
  margin-bottom: 10px;
}

/************************************
*                                   
*       Detail Pages
*                                   
*************************************/

#character-detail-panel, #person-detail-panel, #issue-detail-panel, .about-detail-panel {
  width: 75%;
}

.about-detail-panel {
  width: 50%;
}

figure {
  width: 99% !important;
}

figure>img {
  width: 99% !important;
}

/************************************
*                                   
*       Animation
*                                   
*************************************/

/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.ui-view-container {
  position: relative;
  height: 65px;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .9s ease-in-out;
  transition:all .9s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  /*-webkit-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);*/
}

[ui-view].ng-enter-active {
  opacity: 1;
  /*-webkit-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);*/
}

[ui-view].ng-leave {
  opacity: 1; 
  /*-webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);*/
}

[ui-view].ng-leave-active {
  opacity: 0;
  /*-webkit-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);*/
}