/* app css stylesheet */

html {
  background: url('http://25.media.tumblr.com/f6131152b786236ee6948e16494c9a93/tumblr_mnf4qutKjn1rm7i00o1_1280.jpg') no-repeat center center fixed;
  background-size: cover;
}

body {
  background: none;

  /* fix for sticky nav bar overlay */
  padding-top: 70px;
  overflow-x: hidden;
}

/************************************
*                                   
*       Utility               
*                                   
*************************************/
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image-container {
  width: 80%;
}

/* make banner disappear when screen below 990px*/
@media all and (max-width: 990px) {
  #banner-container { display: none; }
}

#loading-bar-spinner {
  display: block;
  position: absolute;
  right: auto;
  /*left: auto;*/
  top: auto;
  bottom: -20px;
  z-index: 1049;
}

#loading-bar {
  position: relative;
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  transition: width 350ms;

  background: #29d;
  position: absolute;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

h1 {
  font-family: 'Bangers',serif;
}

/************************************
*                                   
*       Characters page             
*                                   
*************************************/

/*
 * helpful link about flexbox
 * http://flexboxin5.com/
 */
 .flex-container {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-items-default {
  width: 200px;
  height: 250px;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  -webkit-box-flex: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 200px;
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px;
}

.home-thumbnail {
  background: #29d;
  -webkit-flex-basis: 242px;
  -ms-flex-preferred-size: 242px;
  flex-basis: 242px;
  height: auto;
}

.character-name {
  text-align: center;
}


#banner-container {
  min-height: 270px;
  position: fixed;
  top: 65px;
  left: 3%;
}

#banner-container img {
  vertical-align: middle;
  border-radius: 5px;
  width: 90%;
}

/* override bootflat 100% width */
.thumbnail a > img, .thumbnail > img {
  width: auto;
  height:240px;
}

.thumbnail {
  padding: 0;
}

.hover-rise:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

#order-by-btn {
  margin-bottom: 10px;
  width: auto;
  height: auto;
  -webkit-flex-basis: 0px;
      -ms-flex-preferred-size: 0px;
          flex-basis: 0px;
}

#filter-search-bar {
  height: auto;
  margin-bottom: 10px;
}

/************************************
*                                   
*       Detail Pages
*                                   
*************************************/

#character-detail-panel, #person-detail-panel, #issue-detail-panel, #about-detail-panel {
  width: 75%;
}

/************************************
*                                   
*       Animation
*                                   
*************************************/

/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.ui-view-container {
  position: relative;
  height: 65px;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}